/*
 * SEARCH
 */

.search-toggle {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;

}

.search-content {
  display: none;
  visibility: hidden;
  padding-top: 1em;
  padding-bottom: 1em;

  .inner {
    padding: 0 0.5rem;

  }

  .entry-excerpt {
    p {
      margin-bottom: 0;
    }
  }

  .search-input {
    display: block;
    margin-bottom: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }

  &.is--visible::after {
    content: "";
    display: block;
  }

  .results-found {
    margin-top: 0.5em;
  }
}

/* Algolia search */

.ais-hits {
  .entry {
    border-bottom: 1px solid red;
  }
}

.ais-search-box {
  max-width: 100% !important;
  margin-bottom: 2em;
}

.entry-title .ais-Highlight {
  color: green;
  font-style: normal;
  text-decoration: underline;
}
.entry-excerpt .ais-Highlight {
  color: blue;
  font-style: normal;
  font-weight: bold;
}
