<!-- Including InstantSearch.js library and styling -->

        <div tabindex="-1" class="search-searchbar"></div>
        <div class="search-hits"></div>

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch-theme-algolia.min.css">

<script>

var myInitialContent = document.querySelector('.wrapper');
var mySearchContent = document.querySelector('.search-content');
var mySearchToggle = document.querySelector('.search-toggle');

if (mySearchToggle) {
  mySearchToggle.addEventListener('click', function () {
    toggleClassSearch();
  }, false);
}

// Toggle search input and content visibility
function toggleClassSearch() {
  mySearchContent.classList.toggle('is--visible');
  myInitialContent.classList.toggle('is--hidden');
  setTimeout(function () {
    document.querySelector('.search-content input').focus();
  }, 400);
}


  
// Instanciating InstantSearch.js with Algolia credentials  

const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
  indexName: '{{ site.algolia.index_name }}',
  searchParameters: {
    restrictSearchableAttributes: [
      'title',
      'content',
      'description'
    ]
  }
});

const hitTemplate = function(hit) {
///  const url = hit.url;
  const url = "https://test23-group.github.io/"
  const title = hit._highlightResult.title.value;
  /// const content = hit._highlightResult.html.value;
   const description = hit._highlightResult.description.value;

  return `
    <article class="entry">
      <h3 class="entry-title"><a href="{{ site.baseurl }}${url}">${title}</a></h3>
      <div class="entry-excerpt">${description}</div>
    </article>
  `;
}

// Adding searchbar and results widgets
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '.search-searchbar',
    {% unless site.algolia.powered_by == false %}poweredBy: true,{% endunless %}
    placeholder: '{{ site.data.theme.t.search_placeholder_text | default: "Enter your search term..." }}'
  })
);
search.addWidget(
  instantsearch.widgets.hits({
    container: '.search-hits',
    templates: {
      item: hitTemplate
    }
  })
);

// Starting the search
search.start();
</script>
