<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>

  {% if site.search %}
    <div class="canvas">
      <div class="wrapper">
        <div class="search-content">
          <div class="inner">
            <div tabindex="-1" class="search-searchbar"></div>
            <div class="search-hits"></div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

      
    </main>

    {%- include views/footer.html -%}

  {% if site.search %}
    {%- include extensions/algolia-search-scripts.html -%}
  {% endif %}

  </body>
</html>
